.Filters {
  max-width: 337px;
  width: 100%;
}

.Filters__title {
  padding-bottom: 22px;
  padding-left: 14px;
  font-size: 14px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .Filters {
    max-width: 100%;
  }

  .Filters__title {
    text-align: center;
  }
}